/* Add your styles here */
*{
  margin: 0;
  padding: 0;
}

@media (max-width: 782px) {
  #searchbar {
    display: none;
  }
}

body{
  /* background-image: url("https://i1.wp.com/ese224.seas.upenn.edu/wp-contnt/uploads/2018/11/background-website-light-blue-wallpapers-background-2.jpg?ssl=1"); */
}

#heading_main:hover{
  transform: scale(1.07,1.07);
}

#image:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0) !important;
  transform: scale(1.07,1.07);
}
#section1 {
  background: linear-gradient(270deg, #18f0b8, #18a2f0, #f2f550);
  text-shadow: 4px 4px 5px black;
  background-size: 600% 600%;
  -webkit-animation: Gradient 60s infinite;
  -moz-animation: Gradient 60s infinite;
  animation: Gradient 60s infinite;
  text-align: center;
  border-bottom: 2px solid rgba(0,0,0,0.1);
   box-shadow: 0 8px 6px -6px black;
}

#section2{
  border-bottom: 2px solid rgba(0,0,0,0.1);
  box-shadow: 0.5em 0.5em 1em lightgrey;
}

#image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0) !important;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
